<div id="particles-js">
  <div
    style="
      z-index: 1;
      color: #fff;
      position: absolute;
      margin-left: 70px;
      height: 100vh;
      left: 0px;
      width: 60%;
    "
  >
    <div class="logo" style="margin-top: 50px">
      <img
        src="https://thumbs2.imgbox.com/5c/8a/kYlZK58E_t.png"
        alt="Myriad Venture Partners"
        style="display: block; height: 40px; width: auto"
        fetchpriority="high"
        loading="eager"
        decoding="async"
        data-loader="raw"
      />
    </div>
    <div style="word-wrap: break-word; width: 90%; height: 400px">
      <h3
        style="
          color: white;
          font-size: 35px;
          font-weight: 50;
          font-family: neue-haas-grotesk-display;
          overflow-wrap: break-word;
        "
      >
        Our business solution ensures swift assistance for key clients and
        prompt reimbursement. With our novel patented AI premium service,
        seamlessly integrated with fintech, businesses are empowered to better
        serve their clients more efficiently and profitably.
      </h3>
    </div>

    <button
      style="
        display: block;
        background-color: rgb(0, 0, 0);
        color: white;
        border: none;
        padding: 0.8em;
        cursor: pointer;
        width: 120px;
        text-align: center;
        border: 1px solid white;
        border-radius: 4px;
      "
      onmouseover="this.style.backgroundColor='white'; this.style.color='black'"
      onmouseout="this.style.backgroundColor='black'; this.style.color='white'"
    >
      Get in Touch
    </button>
  </div>
</div>
