<div id="particles-js">
  <div
    style="
      z-index: 1;
      color: #fff;
      position: absolute;
      left: 0px;
      align-items: flex-start;
    "
  >
    <div class="logo" style="margin-left: 50px; margin-top: 50px">
      <img
        src="https://thumbs2.imgbox.com/5c/8a/kYlZK58E_t.png"
        alt="Myriad Venture Partners"
        style="display: block; height: 40px; width: auto"
        fetchpriority="high"
        loading="eager"
        decoding="async"
        data-loader="raw"
      />
    </div>
    <div class="box" style="word-wrap: break-word">
      <h3
        style="
          white-space: pre-wrap;
          color: white;
          transition-timing-function: ease;
          transition-duration: 0.8s;
          transition-delay: 0.2s;
          font-size: 25px;
          font-weight: 200;
        "
      >
        Our business solution ensures swift assistance for key clients and
        prompt reimbursement. With our novel patented AI premium service,
        seamlessly integrated with fintech, businesses are empowered to better
        serve their clients more efficiently and profitably.
      </h3>
    </div>
  </div>
</div>
